@charset "UTF-8";
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Karla";
  color: #546e7a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  background-color: #08bfbf;
}

header .container {
  margin: auto;
  max-width: 1400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header .container .logo {
  margin-right: 1150px;
  height: 100%;
  width: 100px;
}

header .container .logo img {
  width: 100%;
  height: 100%;
}

header .container .user {
  height: 100%;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .user a svg {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

header .container .user a .avt {
  margin-right: 45px;
}

header .container .user a {
  display: block;
  width: 100%;
  height: 100%;
}

header .container .user a:first-child {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 33px;
}

header .container .user a .userName {
  position: absolute;
  right: 105px;
}

header .container .user a .log-out {
  position: absolute;
  right: 40px;
}

header .container .user a p {
  cursor: pointer;
  bottom: 4px;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
  margin-top: 20px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

nav ul a:hover {
  text-decoration: underline;
}

nav ul a:hover li {
  background-color: white;
  color: #5c5c0a;
  -webkit-box-shadow: 0px 1px #888888;
          box-shadow: 0px 1px #888888;
}

nav ul a li {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #08bfbf;
  cursor: pointer;
  color: white;
  border: 1px #eceff1 solid;
}
