<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {% load static %}
   <title>{% block title %}{% endblock %}</title>
   {% block script %}{% endblock script %}
   <link rel="stylesheet" href="{% static 'css/base.css'%}">
   
</head>
<body>
    <div class="container">
    <header>GENY TEAM</header>
    <nav>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/classes">Quản lý lớp học</a></li>
          <li><a href="/courses">Quản lý khóa học</a></li>
          <li><a href="/rooms">Quản lý phòng</a></li>
          <li><a href="/students">Quản lý học sinh</a></li>
        </ul>
      </nav>
   {% block content %}
   {% endblock %}
   <footer>
       @2020 Gteam
   </footer>
   </div>
</body>
</html>