{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard scheduling
{% endblock title %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/classes.css'%}">
{% endblock script %}

{% block content %}
{% comment %} <form name="formclass" action="" method="post">
    {% csrf_token %}
    <label for="">Mã:</label>
    <input type="text" name="slug" required><br>
    <label for="">Tên lớp:</label>
    <input type="text" name="name" required><br>
    <label for="">Số lượng:</label>
    <input type="number" name="number" min="0" max="40" required><br>
    <label for="">Lịch học:</label>
    <select name="schedule" id="schedule">
        <option value="MWF">Shift Mon Wed Fri</option>
        <option value="TTS">Shift Tue Thu Sat</option>
        <option value="F">Shift All Week</option>
    </select><br>
    <label for="">Khoá học:</label>
    <select name="courses" id="courses">
        {% for course in courses %}
            <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
    </select>
    <input type="hidden" id="iId" name = 'iId'>
    <br>
    <input type="submit" name="add_class" value="Thêm"><input type="submit" name="update_class" value="Sửa"><input type="submit" name ="delete_class" value="Xoá">
</form>
<div class="view">
    <table>
        <tr>
            <th>Mã Lớp</th>
            <th>Tên Lớp</th>
            <th>Phòng</th>
            <th>Khoá học</th>
            <th>Sĩ số</th>
            <th>Lịch học</th>
            <th>Thời gian học còn lại</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>

    </table>
</div> {% endcomment %}
  <form name="formclass" method="post" style="max-width: 1300px;">
      {% csrf_token %}

    <label for="" style="color: #65b5c7; display: flex; align-items: center;">Mã:</label>
    <input type="text" name="slug" required="" placeholder="Nhập mã lớp" style="
          border-radius: 10px;
          padding: 7px 0;
          padding-left: 10px;
          text-transform: uppercase;
        " /><br />
    <label for="" style="color: #65b5c7; display: flex; align-items: center;">Tên lớp:</label>
    <input type="text" name="name" required="" placeholder="Nhập tên lớp" style="
          border-radius: 10px;
          padding: 7px 0;
          padding-left: 10px;
          text-transform: uppercase;
        " /><br />
    <label for="" style="color: #65b5c7; display: flex; align-items: center;">Số lượng:</label>
    <input type="number" name="number" min="0" max="40" required="" placeholder="Số học sinh" style="
          border-radius: 10px;
          padding: 7px 0;
          padding-left: 10px;
          text-transform: uppercase;
        " /><br />
    <label for="" style="color: #65b5c7; display: flex; align-items: center;">Lịch học:</label>
    <select name="schedule" id="schedule" placeholder="Nhập mã lớp" style="
          border-radius: 10px;
          padding: 7px 0;
          padding-left: 10px;
          text-transform: uppercase;
        ">
      <option value="MWF">Shift Mon Wed Fri</option>
      <option value="TTS">Shift Tue Thu Sat</option>
      <option value="F">Shift All Week</option>
    </select><br />
    <label for="" style="color: #65b5c7; display: flex; align-items: center;">Khoá học:</label>
    <select name="courses" id="courses" placeholder="" style="
          border-radius: 10px;
          padding: 7px 0;
          padding-left: 10px;
          text-transform: uppercase;
        ">
        {% for course in courses %}
            <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
    </select>
    <input type="hidden" id="iId" name="iId" />
    <br />
    <input type="submit" name="add_class" value="Thêm" style="
          border-radius: 10px;
          padding: 7px 5px;
         
        " />
    <input type="submit" name="update_class" value="Sửa" style="
          border-radius: 10px;
          padding: 7px 5px;
          
        " />
    <input type="submit" name="delete_class" value="Xoá" style="
          border-radius: 10px;
          padding: 7px 5px;
        " />
  </form>

  <div class="view">
    <table class="custom-table">
        <tr>
            <th>Mã Lớp</th>
            <th>Tên Lớp</th>
            <th>Khoá học</th>
            <th>Sĩ số</th>
            <th>Lịch học</th>
            <th>Thời gian học còn lại</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
      
    </table>
  </div>
<script>
    var table_view = document.querySelector('.view>table')
    var list_class = []
    loadTable()

    function loadTable(){
        let text = ''
        {% for cl in classes %}
            text += "<tr>"
            text += `<td><a href="" id="{{cl.id}}" class="aSlug">{{cl.slug}}</a></td>
            <td><a href="{% url 'detail_class' cl.id %}">{{cl.name}}</a></td>
            <td>{{cl.course}}</td>
            <td>{{cl.number_student}}/{{cl.number}}</td>
            <td>{{cl.get_day_display}}</td>
            <td>{{cl.duration}} week</td>
            <td>{{cl.get_status_display}}</td>
            <td><a href="#">Xoá</a></td>`
            text += "</tr>"
            list_class.push({"id":`{{cl.id}}`, "name":`{{cl.name}}` ,'slug':`{{cl.slug}}`, 'number':`{{cl.number}}`, 'schedule':`{{cl.day}}`, 'course':`{{cl.course.id}}`})
        {% endfor %}

        table_view.insertAdjacentHTML('beforeend',text)
    }

        document.querySelectorAll('.aSlug').forEach((item)=>{
        item.addEventListener('click',(e)=>{
            e.preventDefault()
            var slug = document.getElementsByName('slug')[0]
            var name = document.getElementsByName('name')[0]
            var number = document.getElementsByName('number')[0]
            var lichhoc = document.getElementsByName('schedule')[0]
            var khoahoc = document.getElementsByName('courses')[0]
            var iId = document.querySelector('#iId')

            let id = e.target.id 
            for( let i of list_class){
                if( i.id == id){
                    slug.setAttribute('value',i.slug) 
                    name.setAttribute('value', i.name)
                    number.setAttribute('value', i.number)
                    lichhoc.value = i.schedule 
                    khoahoc.value = i.course 
                    iId.setAttribute('value', i.id)
                }
            }
        })
        
    })
</script>
{% endblock content %}