{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard scheduling
{% endblock title %}

{% block script %}
{% endblock script %}

{% block content %}
<form name="formclass" action="" method="post">
    {% csrf_token %}
    <label for="">Mã:</label>
    <input type="text" name="slug" required><br>
    <label for="">Tên lớp:</label>
    <input type="text" name="name" required><br>
    <label for="">Số lượng:</label>
    <input type="number" name="number" min="0" max="40" required><br>
    <label for="">Lịch học:</label>
    <select name="schedule" id="schedule">
        <option value="1MWF">Shift 1 Mon Wed Fri</option>
        <option value="2MWF">Shift 2 Mon Wed Fri</option>
        <option value="1TTS">Shift 1 Tue Thu Sat</option>
        <option value="2TTS">Shift 2 Tue Thu Sat</option>
        <option value="1F">Shift 1 All Week</option>
        <option value="2F">Shift 2 All Week</option>
    </select><br>
    <label for="">Khoá học:</label>
    <select name="courses" id="courses">
        {% for course in courses %}
            <option value="{{course.id}}">{{course.name}}</option>
        {% endfor %}
    </select>
    <input type="hidden" id="iId" name = 'iId'>
    <br>
    <input type="submit" name="add_class" value="Thêm"><input type="submit" name="update_class" value="Sửa"><input type="submit" name ="delete_class" value="Xoá">
</form>
<div class="view">
    <table>
        <tr>
            <th>Mã Lớp</th>
            <th>Tên Lớp</th>
            <th>Phòng</th>
            <th>Khoá học</th>
            <th>Sĩ số</th>
            <th>Lịch học</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>

    </table>
</div>
<script>
    var table_view = document.querySelector('.view>table')
    var list_class = []
    loadTable()

    function loadTable(){
        let text = ''
        {% for cl in classes %}
            text += "<tr>"
            text += `<td><a href="" id="{{cl.id}}" class="aSlug">{{cl.slug}}</a></td>
            <td>{{cl.name}}</td>
            <td>{{cl.room.name}}</td>
            <td>{{cl.course}}</td>
            <td>{{cl.number_student}}/{{cl.number}}</td>
            <td>{{cl.get_day_display}}</td>
            <td>{{cl.start_day}}</td>
            <td>{{cl.end_day}}</td>
            <td>{{cl.get_status_display}}</td>
            <td><a href="#">Xoá</a></td>`
            text += "</tr>"
            list_class.push({"id":`{{cl.id}}`, "name":`{{cl.name}}` ,'slug':`{{cl.slug}}`, 'number':`{{cl.number}}`, 'schedule':`{{cl.day}}`, 'course':`{{cl.course.id}}`})
        {% endfor %}

        table_view.insertAdjacentHTML('beforeend',text)
    }

        document.querySelectorAll('.aSlug').forEach((item)=>{
        item.addEventListener('click',(e)=>{
            e.preventDefault()
            var slug = document.getElementsByName('slug')[0]
            var name = document.getElementsByName('name')[0]
            var number = document.getElementsByName('number')[0]
            var lichhoc = document.getElementsByName('schedule')[0]
            var khoahoc = document.getElementsByName('courses')[0]
            var iId = document.querySelector('#iId')

            let id = e.target.id 
            for( let i of list_class){
                if( i.id == id){
                    slug.setAttribute('value',i.slug) 
                    name.setAttribute('value', i.name)
                    number.setAttribute('value', i.number)
                    lichhoc.selectedIndex = i.lichhoc
                    khoahoc.selectedIndex = i.khoahoc
                    iId.setAttribute('value', i.id)
                }
            }
        })
        
    })
</script>
{% endblock content %}