{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard scheduling
{% endblock title %}

{% block head %}
<title>Course</title>
<link rel="stylesheet" href="{% static 'css/css/classes.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock head %}

{% block contain %}
<div class="class-wrapper">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissible show"{% endif %}>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:20px">&times;</span>
            </button>  
        {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form name="formcourse" action="" method="post">
        {% csrf_token %}
        <h2 class="qllh">courses management</h2>

        <div class="form-group">
            <label for="">Tên khoá học:</label>
            <input type="text" name="name" required>
        </div>

        <div class="form-group">
            <label for="">Thời lượng:</label>
            <select name="duration" id="duration" required>
                <option disabled selected value>Thời lượng</option>
                <option value="3">3 Week</option>
                <option value="4">4 Week</option>
                <option value="5">5 Week</option>
                <option value="6">6 Week</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Thêm">
        </div>
    </form>

    <div class="view">
        <table class="custom-table">
            <tr class="tr-title">
                <th>ID</th>
                <th>Tên Khoá học</th>
                <th>Thời lượng</th>
                <th></th>
            </tr>

        </table>
    </div>


</div>

<script>
    var table_view = document.querySelector('.view>table')

    loadTable()

    function loadTable() {
        let text = ''
        {% for course in courses %}
        text += "<tr>"
        text += `<td><a href="#">{{course.id}}</a></td>
            <td>{{course.name}}</td>
            <td>{{course.get_duration_display}}</td>
            <td><a href="{% url 'deletecourses' course.id %}">Xoá</a></td>`
        text += "</tr>"
        {% endfor %}

        table_view.insertAdjacentHTML('beforeend', text)
    }
</script>
{% endblock contain %}