<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="base/icon/font/flaticon.css" />
    <link rel="stylesheet" href="base/css/header.css" />
    <link rel="stylesheet" href="base/css/footer.css" />
    <link rel="stylesheet" href="base/css/menu.css" />
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="header-dark">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="base/css/logo.jpg"></a>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false" href="#">Source
                            </a>

                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="https://github.com/kiethohohoho">Lê
                                    Tấn Kiệt</a>
                                <a class="dropdown-item" role="presentation" href="https://github.com/gadola">Phạm Minh
                                    Hoàng Nam</a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false" href="#">Theme Picker
                            </a>

                            <div class="dropdown-menu" role="menu">
                                <span class="dropdown-item theme light-theme" role="presentation" href="#">Light
                                    Theme</span>
                                <span class="dropdown-item theme dark-theme" role="presentation" href="#">Dark
                                    Theme</span>
                            </div>
                        </li>
                    </ul>

                    <form class="form-inline mr-auto">
                        <div class="form-group">
                            <label for="search-field"><i class="fa fa-search"></i></label>
                            <input class="form-control search-field" type="search" autocomplete="off" name="search"
                                id="search-field" />
                        </div>
                    </form>

                    <span class="navbar-text">
                        <a href="#" class="userName">
                            <img src="base/css/user.png">
                        </a>
                    </span>

                    <a class="btn action-button log-out" role="button" href="#">Log out</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="menu-dark">
        <div class="menu-wrapper">
            <div class="logo">
                <a href="" class="gt mini"> GT </a>
                <a href="" class="gt normal out"> GENNY TEAM</a>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="flaticon flaticon-dashboard"></i>
                        <p class="out">Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="flaticon flaticon-class"></i>
                        <p class="out">Classes</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="flaticon flaticon-blueprint"></i>
                        <p class="out">Rooms</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="flaticon flaticon-online-course"></i>
                        <p class="out">Courses</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="flaticon flaticon-graduation"></i>
                        <p class="out">Students</p>
                    </a>
                </li>
            </ul>

            <div class="oc-btn">
                <svg class="svg-oc-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.667 490.667"
                    style="enable-background: new 0 0 490.667 490.667" xml:space="preserve">
                    <path style="fill: #009688"
                        d="M245.333,0C109.839,0,0,109.839,0,245.333s109.839,245.333,245.333,245.333  s245.333-109.839,245.333-245.333C490.514,109.903,380.764,0.153,245.333,0z" />
                    <path style="fill: #fafafa"
                        d="M290.133,104.533c-19.139-18.289-49.277-18.289-68.416,0c-18.893,18.881-18.902,49.503-0.021,68.395  c0.007,0.007,0.014,0.014,0.021,0.021l19.2,19.2H117.333C87.878,192.149,64,216.027,64,245.483  c0,29.455,23.878,53.333,53.333,53.333h123.584l-19.2,19.2c-17.522,20.175-15.371,50.734,4.804,68.257  c18.259,15.858,45.423,15.799,63.612-0.139l118.251-118.251c12.492-12.496,12.492-32.752,0-45.248L290.133,104.533z" />
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>
            </div>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="btn-manage">
            <div class="btnn pre">👈🏻 previous</div>
            <div class="btnn now">✊🏻 now</div>
            <div class="btnn next">next 👉🏻</div>
        </div>

        <table class="timetable">
            <tbody>
                <tr class="week-names">
                    <th></th>
                    <th class="0">monday</th>
                    <th class="1">tuesday</th>
                    <th class="2">wednesday</th>
                    <th class="3">thursday</th>
                    <th class="4">friday</th>
                    <th class="5">saturday</th>
                    <th class="weekend 6">sunday</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit
                            suscipit nihil sit, dolores placeat temporibus officiis ipsam
                            sint maxime possimus quod amet facere quos neque natus
                            dignissimos in, inventore commodi?
                        </p>
                    </div>
                    <div class="col item social">
                        <a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">Company Name © 2018</p>
            </div>
        </footer>
    </div>

    <script>
        var text = "";
        for (let i = 0; i < 3; i++) {
            text += `<tr>
                <td>ROOM ${i + 1}</td>
                <td class="full_${i + 1} day_1 abc"></td>
                <td class="full_${i + 1} day_2 abc"></td>
                <td class="full_${i + 1} day_3 abc"></td>
                <td class="full_${i + 1} day_4 abc"></td>
                <td class="full_${i + 1} day_5 abc"></td>
                <td class="full_${i + 1} day_6 abc"></td>
                <td class="weekend"></td>
            </tr>`;
        }
        var ct = document.querySelector(".timetable");
        ct.insertAdjacentHTML("beforeend", text);

        // text = "";
        // for (let i = 0; i < 2; i++) {
        //   if (`{{cl.day}}`.indexOf("MWF") != -1) {
        //     let id = `.day_{{cl.room.id}}_MWF`;
        //     let choices = document.querySelectorAll(id);
        //     console.log(choices)
        //     choices.forEach((ele) => {
        //       ele.innerHTML += `<p>{{cl.name}}</p>`;
        //     });
        //   } else if (`{{cl.day}}`.indexOf("TTS") != -1) {
        //     let id = `.day_{{cl.room.id}}_TTS`;
        //     let choices = document.querySelectorAll(id);
        //     console.log(choices)
        //     choices.forEach((ele) => {
        //       ele.innerHTML += `<p>{{cl.name}}</p>`;
        //     });
        //   } else {
        //     let choices = document.querySelectorAll(".day_full_{{cl.room.id}}");
        //     console.log(choices);
        //     choices.forEach((ele) => {
        //       ele.innerHTML += `<p>{{cl.name}}</p>`;
        //     });
        //   }
        // }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="base/js/menu.js"></script>
    <script src="base/js/header.js"></script>
    <script src="dashboard.js"></script>
</body>

</html>